<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Transactions" publicKeyToken="b77a5c561934e089" culture="neutral"/>
				<codeBase version="4.0.0.0" href="file:///C:/Windows/Microsoft.Net/assembly/GAC_64/System.Transactions/v4.0_4.0.0.0__b77a5c561934e089/System.Transactions.dll"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
